In [1]:
# Run dependencies
from datetime import datetime, timedelta
import os
import pandas as pd
import requests
from sqlalchemy import create_engine
%run config.ipynb

# Extraction

### (1) Walmart 2010-2012 Sales Dataset

In [2]:
## *******************************************EXTRACTION*******************************************
## (1) WALMART 2010-2012 SALES DATASET

# Read all walmart csv
features = pd.read_csv('Resources/Walmart/features.csv')
stores = pd.read_csv('Resources/Walmart/stores.csv')
train = pd.read_csv('Resources/Walmart/train.csv')

### (2) API Holiday

In [3]:
## (2) API HOLIDAY

# Set holidays, country and years we want dates
holiday = ['Christmas Day','Christmas Eve','Independence Day',"New Year's Day", "Thanksgiving Day"]
country = 'US'
year = [2010,2011, 2012]

# Loops through API and get dates
holiday_name = []
holiday_date =[]
category = []
holiday_year = []

for number in year:
    # Set url base
    url = f'https://calendarific.com/api/v2/holidays?&api_key={api_key}&country={country}&year={number}'
    response = requests.get(url).json()
    
    #Loop through holiday
    for name in holiday:
        # Loop through API
        for i in range(len(response['response']['holidays'])):
            if name == response['response']['holidays'][i]['name']:
                holiday_date.append(response['response']['holidays'][i]['date']['iso'])
                category.append(name)
                holiday_year.append(number)
                break
                
# Create dataframes of lists created
holiday_df = pd.DataFrame({'Holiday': category,
                        'Year': holiday_year,
                        'Date': holiday_date})

# Display preview
holiday_df.head()

            Holiday  Year        Date
0     Christmas Day  2010  2010-12-25
1     Christmas Eve  2010  2010-12-24
2  Independence Day  2010  2010-07-04
3    New Year's Day  2010  2010-01-01
4  Thanksgiving Day  2010  2010-11-25

### (3) Walmart Stock 1972-2020 Dataset

In [4]:
## (3) STOCK 1972-2020 DATASET

# Run stock csv
stock = pd.read_csv("Resources/stock.csv")

# Display preview
stock.head()

         Date      Open      High       Low     Close  Adj Close   Volume
0  1972-08-25  0.063477  0.064697  0.063477  0.064453   0.023123  2508800
1  1972-08-28  0.064453  0.064941  0.064209  0.064209   0.023035   972800
2  1972-08-29  0.063965  0.063965  0.063477  0.063477   0.022772  1945600
3  1972-08-30  0.063477  0.063477  0.062988  0.063477   0.022772   409600
4  1972-08-31  0.062988  0.062988  0.062500  0.062500   0.022422   870400

### (4) Walmart Sales Dataset (5 Years) ZIP File

In [5]:
## (4) WALMART SALES DATA (5 YEARS) ZIP FILE SALES_AUG & PRICES CSV

# Run sales_aug csv
sales_aug = pd.read_csv('Resources/sales_aug.csv')

# Display preview
sales_aug.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1937,d_1938,d_1939,d_1940,d_1941,sales1,sales2,start,scale1,scale2
0,HOBBIES_1_001_CA_1,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,3,3,0,1,1.097306e-05,0.000013,902,0.757426,0.773603
1,HOBBIES_1_002_CA_1,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,0,0,8.128193e-07,0.000003,144,0.424208,0.422049
2,HOBBIES_1_003_CA_1,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,2,3,0,1,6.502554e-06,0.000008,1106,0.492556,0.511990
3,HOBBIES_1_004_CA_1,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,3,0,2,6,2.072689e-05,0.000019,37,1.779200,1.778245
4,HOBBIES_1_005_CA_1,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,2,1,0,1.544357e-05,0.000015,113,1.101723,1.102354

In [6]:
sales_aug.groupby("cat_id")['cat_id'].count()

cat_id
FOODS        20174
HOBBIES       7952
HOUSEHOLD    14700
X               14
Name: cat_id, dtype: int64

In [7]:
## (4) WALMART SALES DATA (5 YEARS) ZIP FILE SALES_AUG & PRICES CSV CONT.

# Run sales_aug csv
prices = pd.read_csv('Resources/prices.csv')

# Display preview
prices.head()

,id,d_1,d_2,d_3,d_4,d_5,d_6,d_7,d_8,d_9,...,d_1960,d_1961,d_1962,d_1963,d_1964,d_1965,d_1966,d_1967,d_1968,d_1969
0,FOODS_1_001_CA_1,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24
1,FOODS_1_001_CA_2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24
2,FOODS_1_001_CA_3,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24
3,FOODS_1_001_CA_4,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24
4,FOODS_1_001_TX_1,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24

### (5) Walmart Store Listing Json

In [8]:
## (5) WALMART STORE JSON

# Run store json 
store = pd.read_json('Resources/walmart.json')

# Display preview
store.head()

ValueError: Expected object or value

### (6) Competition Financial Dataset (Walmart, Amazon, Target, Costco)

In [ ]:
## (6) COMPETITION FINANCIAL DATASET

# Run Walmart, Amazon, Target, Costco Financial csv
wmt_df = pd.read_csv("Resources/Competition/WMT.csv", skiprows=2, index_col=0)
amz_df = pd.read_csv("Resources/Competition/AMZN.csv", skiprows=2, index_col=0)
tgt_df = pd.read_csv("Resources/Competition/TGT.csv", skiprows=2, index_col=0)
cos_df = pd.read_csv("Resources/Competition/COST.csv", skiprows=2, index_col=0)